.section__wrapper {
  padding-top: 1px;
  padding-bottom: 1px;
  position: relative;
  background: url("../../../img/bg-contacts.jpg") 65% no-repeat $white;
  background-size: cover;
  // background-attachment: fixed;
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  color: $black;
  z-index: 1;

  &::before {
    content: "";
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
}

.after-before {
  position: relative;
  z-index: 1;
  padding-top: 1px;

  // -o-transform: skewY(-20deg);
  // -ms-transform: skewY(-20deg);
  // -moz-transform: skewY(-20deg);
  // -webkit-transform: skewY(-20deg);
  // transform: skewY(-20deg);

  //   &::before, &::after {
  //     border-bottom: 16vw solid white;
  //     bottom: 0;
  //     content: "";
  //     position: absolute;
  //     z-index: 60;
  //   }
  //   &::before{
  //     border-right: 50vw solid transparent;
  //     left: 0;
  //   }
  //   &::after{
  //     border-left: 50vw solid transparent;
  //     right: 0;
  //   }
}

.reviews__title,
.contacts__title,
.form__title {
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  margin: 60px 0 0 0;
  text-align: center;
}

.reviews__navigation {
  margin-top: 60px;

  button.owl-prev,
  button.owl-next {
    border: none;
    height: 50px;
    width: 48px;
    cursor: pointer;
  }

  button.owl-prev {
    background: url("../../../img/arrow-prev-2.svg") no-repeat center;
  }

  button.owl-next {
    background: url("../../../img/arrow-next-2.svg") no-repeat center;
  }
}

.reviews__item {
  p {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
  }

  .reviews__client {
    display: flex;
    align-items: center;

    img {
      width: 80px;
      height: 80px;
      margin-right: 20px;
    }

    &-info {
      p {
        margin: 0;
        font-weight: bold;
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 9px;
      }
      span {
        font-size: 22px;
        line-height: 26px;
      }
    }
  }
}

.contacts-form__wrapper{
  margin-bottom: 30px;
}

.contacts__about {
  text-align: center;
}

.contacts__list {
  .contacts__item {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
    // max-width: 240px;
    // margin: 0 auto 15px auto;

    &:nth-child(3) {
      margin-bottom: 0;
    }

    img {
      margin-right: 10px;
      width: 40px;
      height: 40px;
    }

    p {
      margin: 0;
      font-size: 18px;
      line-height: 21px;
      font-weight: normal;
    }
  }
}

.form__wrap {
  form {
    .form__button {
      text-align: center;

      button {
        padding: 0 56px;
        // color: $black;
        font-size: 20px;
        line-height: 26px;
        text-transform: capitalize;
      }
    }
    
    /* label focus color */
    .input-field input[type=text]:focus + label, .input-field input[type=email]:focus + label, .input-field textarea:focus + label {
       color: #9e9e9e;
     // color: $black;
    }
    /* label underline focus color */
    .input-field input[type=text]:focus, .input-field input[type=email]:focus, .input-field textarea:focus  {
      border-bottom: 1px solid $primary;
      box-shadow: 0 1px 0 0 $primary;
    }
    /* icon prefix focus color */
    .input-field .prefix.active {
      color: $primary;
    }
  }
}


@media (min-width: 755px) {
  .contacts__about {
    text-align: left;
    //text-indent: 1.5em;
  }

  .form__button {
    text-align: left !important;
  }


  .contacts__title,
  .form__title {
    text-align: left;
  }
}

@media (max-width: 992px) {
  .rewiews__title-nav {
    text-align: center;
  }

  .reviews__navigation {
    margin-top: 13px;
  }
}

@media (min-width: 992px) {
  .reviews__title{
    text-align: left;
  }
}
